@import "../variables";

.welcome-image {
  background: url('/assets/img/app/bg/unsplash.jpg') $primary-color;
  background-size: cover;
}

.welcome-message-container {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  z-index: 2;

  color: $light-color !important;
}

.auth-logo {
  display: inline-block;
  width: 12rem;
  padding: 30px;
  background-color: $light-color;
  border-radius: 9999px;
  margin: 0;
}

.lock-icon {
  color: #FBFBF9;
  font-size: 3rem !important;
  font-weight: 300;
  background-color: $primary-color;
  border-radius: 9999px;
  padding: 10px;
  margin-bottom: 10px;
}
