.table-sticky {
  overflow-y: auto;
  max-height: 300px;

  > .table {
	> thead {
	  > tr {
		> th {
		  position: sticky;
		  z-index: 2;
		  top: 0;
		}
	  }
	}
  }
}

#pagination-first-page,
#pagination-last-page {
  display: none;
}


.rdt_TableCell:last-of-type {
  :first-child {
	overflow: unset !important;
	white-space: normal !important;
  }
}

.rdt_TableBody {
  min-height: 500px !important;
}