@import "../../../../styles/variables";

.footer {
  width: 100%;
  height: $barHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  margin-right: 20px;
  position: relative;
  //bottom: Calc(0.25 * #{$barHeight});
}